* {
  text-align: center;
  margin: 0px;
  padding: 0;
}

.tabelas{
  display: flex;
}
.tabela{    
height: 40px;  
  border: 2px solid rgb(242, 242, 242);
  border-collapse: collapse;
}
.tabela2{
height: 30px;
border: 2px solid rgb(255, 255, 255);
border-collapse: collapse;
}


th{
color: white;
border: solid 1px white;
padding: 3px;

}

td{
color: white;
border: solid 1px white;
padding: 3px;

}
